---
title: Le Wagon - Middleman - About
---

<div class="about">
  <div class="about-content">
    <h1>Here is the dream team <i class="fa fa-bolt"></i></h1>
    <% link_to "" do %>
    <ul class="list-inline text-center">
  <% ["poloduf", "mbdia"].each do |gh_username| %>
    <li>
      <%= image_tag "https://kitt.lewagon.com/placeholder/users/#{gh_username}", class: "img-circle about-image" %>
      <h3><%= gh_username.capitalize %></h3>
    </li>
  <% end %>
</ul>
<% end %>
  </div>
</div>

